<script id="tmpl-Contacts" type="text/html">
    <div class="Contacts">
    	<table class="table table-bordered table-hover">
	        <thead>
	          <tr>
	          	<th>Index</th>
	          	<th>Name</th>
	          	<th></th>
	          </tr>
	        </thead>
	        <tbody class="lists">
	        </tbody>
	  </table>
    </div>
</script>
<script id="tmpl-Contacts-rowItem" type="text/html">
	 <tr data-entity="{{type}}" data-entity-id="{{Id}}">
	     <td >{{index}}</td>
	     <td >{{Name}}</td>
	     <td >
	     	<span class="btn btnEdit">Edit</span>
	     	<span class="btn btn-warning btnDelete">Delete</span>
	     </td>
     </tr>
</script>