<script id="tmpl-Top" type="text/html">
	<div class="Top">
		<div class="navbar">
		  <div class="navbar-inner">
		    <ul class="nav">
		      <li data-nav="contact">Contacts</li>
		      <li data-nav="countrycustom">Coutries</li>
		    </ul>
		  </div>
		</div>
	</div>
</script>